@import 'color';
footer {
  border-top: 1px solid $primary-color;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      text-decoration: none;
      color: $primary-color;
      margin-right: 20px;
      font-size: 14px;

      &:hover {
        color: $blue;
      }
    }

    i {
      font-size: 18px;
      margin-left: 10px;
      transition: color 0.3s;

      &:hover {
        color: $blue;
      }
    }
  }

  .logo {
    height: 30px;
  }
}


    
    




