.images{
        width: 100%;
        max-width: 1110px;
        min-height: 1960px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(32, 1fr);
        gap: 20px;
        position: relative;
        margin-top: 140px;
      }
      .img1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 7;
    
          }
          .img2 {
            grid-column: 4 / span 3;
            grid-row: 1/ span 6;
           
          }
          .img3 {
            grid-column:  7 / span 3;
            grid-row:1 / span 10;
            
          }
          .img4 {
            grid-column:  1 / span 3;
            grid-row:  8 / span 8;
            
          }
          .img5 {
            grid-column: 4 / span 3;
            grid-row: 7 / span 7;
            
          }
          .img6 {
            grid-column:  7 / span 3;
            grid-row: span 11 / span 7;
          }
          .img7  {
            grid-column: 1 / span 3;
            grid-row:  16 / span 8;
            
          }
          .img8 {
            grid-column: 4 / span 3;
            grid-row: 14/ span 9;
            
          }
          .img9  {
            grid-column: 7 / span 3;
            grid-row: 17/ span 9;
            
          }
          .img10{
            grid-column: 1/ span 3;
            grid-row: 24/ span 9;
            
          }
          
          .img11  {
            grid-column: 4 / span 3;
            grid-row: 22/ span 10;
            
          }
          
          .img12{
            grid-column: 7 / span 3;
            grid-row: 26/ span 6;
           
          }
