.nav_header{
  width:100%;
  max-width: 1109px;
  min-height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
      width: 91px;
      height: 20px;
    }
    
    ul {
     
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
  
      li a {
       color: color.$Black;
        font-weight: bold;
       
        
        }
      }
    }
  
  




