.nav_header, .nav_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    height: 40px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      text-decoration: none;
      color:$Black;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: $blue;
      }
    }
  }
}